<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${username}"></title>
</head>
<body>
<form method="post" action="/addUser">
    <input type="text" name="newusername">
    <input type="text" name="newpassword">
    <input type="submit" name="Add user">
</form>
<form method="post" action="/addFavorite">
    <input type="text" name="favorite"/>
    <input type="hidden" name="username" th:value="${gebruiker.username}">
    <input type="hidden" name="password" th:value="${gebruiker.password}">
    <input type="submit" name="Add favorite">
</form>
<table name="favorites">
    <tr th:each="favorite: ${favorites}" >
        <td th:text="${favorite}"/>
    </tr>
</table>
</body>
</html>